* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   color: #6c6b6b
}

.color {
  width: 100%;
  height: 50px; 
  background-color: #FF9A4B
}

main {
  width: 960px;
  height: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content:space-around;
  gap: 0px 30px
}

.step1 {
  width: 300px;
  background-color: #EEEEEE
}

.step2 {
  width: 300px;
  background-color: #EEEEEE;
}

.step3 {
  width: 300px;
  background-color: #EEEEEE;
}

.step1-up {
  height: 175px;
  display: flex;
  position: relative;
}

.step2-up {
  height: 175px;
  display: flex;
  position: relative;
}

.step3-up {
  height: 175px;
  display: flex;
  position: relative;
}

.step1-up-1 {
  width: 45px;
  background-color: #FF9A4B;
  position: absolute;
  top:0px;
  left: 0px;
}

.step2-up-2 {
  width: 45px;
  background-color: #FF9A4B;
  position: absolute;
  top:0px;
  left: 0px;
}

.step3-up-3 {
  width: 45px;
  background-color: #FF9A4B;
  position: absolute;
  top:0px;
  left: 0px;
}

.step1-up-img {
  width: 280px;
  height: 150px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  background-image: url(img/flow01.png);
  background-size: cover;
}

.step2-up-img {
  width: 280px;
  height: 150px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  background-image: url(img/flow02.png);
  background-size: cover;
}

.step3-up-img {
  width: 280px;
  height: 150px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  background-image: url(img/flow03.png);
  background-size: cover;
}

.step1-up-1-p{
  color: #FFFFFF;
}

.step2-up-2-p{
  color: #FFFFFF;
}

.step3-up-3-p{
  color: #FFFFFF;
}

.step1-title {
  padding-left: 7px;
}

.step2-title {
  padding-left: 7px;
}

.step3-title {
  padding-left: 7px;
}

.step1-text {
  padding-left: 7px;
}

.step2-text {
  padding-left: 7px;
}

.step3-text {
  padding-left: 7px;
}

.color2 {
  width: 100%;
  height: 50px; 
  background-color: #AAAAAA
}

@media screen and (max-width: 768px) {
  
  main {
    width: 100%;
    display:block;
  }
  
  .step1 {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
  
  .step2 {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
  
  .step3 {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
}